{% load crispy_forms_tags %}

{% if empresa %}
<form method="POST" action="{% url 'memoria:editarEntidad' v_rut=empresa.rutempresa%}">
{% else %}
<form method="POST" action="{% url 'memoria:crearEntidad'%}">
{% endif %}
    <div class="modal-header" id="div-results">
        <h4 class="modal-title">Entidad</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        {% if error %}
            <h2>{{ error }}</h2>
        {% else %}    
            {{ empresaForm|crispy }}
        {% endif %}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
</form>