{% extends "memoria/base2.html" %}
{% load staticfiles %}
{% block content %}
<h1>Estadisticas Serie Temporal</h1>
<input type="hidden" id="codigo" name="codigo" value={{codigoEstacion}}>
<div class="row">
    <div class="col-12">
        <div id="react"></div>
    </div>
</div>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<!-- Don't use this in production: -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!-- Cargamos nuestro componente de React. -->
<script type="text/babel" src="{% static 'js/reactEs.js' %}"></script>

{% endblock %}